<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Payment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="African Training Center">

    <!-- Favicon -->

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="./../../css/style.css">
    <link rel="stylesheet" href="./../../css/night-mode.css">
    <link rel="stylesheet" href="./../../css/framework.css">
    <link rel="stylesheet" href="./../../css/bootstrap.css"> 

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="./../../css/icons.css">
</head>

<body>


    <!-- Wrapper -->
    <div id="wrapper">


        <!-- Header Container
        ================================================== -->

        <div class="uk-card-default bg-gradient-grey py-4 uk-light">
            <div class="uk-flex uk-flex-center uk-flex-middle">
                <i class=" uil-graduation-hat icon-medium"></i>
                <h4 class="mb-0 ml-3"> African Training Center</h3>
            </div>
        </div>

        <!-- Content
        ================================================== -->

        <!-- Content / End -->

        {{{body}}}
    </div>
    <!-- Wrapper / End -->
    <!-- javaScripts
            ================================================== -->
    <script src="./../../js/framework.js"></script>
    <script src="./../../js/jquery-3.3.1.min.js"></script>
    <script src="./../../js/simplebar.js"></script>
    <script src="./../../js/bootstrap-select.min.js"></script>


</body>

</html>