<div uk-height-viewport="expand: true" class="uk-flex uk-flex-middle">
	<div class="uk-width-1-2@m uk-width-1-2@s m-auto text-center">

		<img src="./../../success.png" style="width:40%" alt="" class="my-3">

		<h3> <i class="icon-line-awesome-check-circle mr-2" style="color:green"></i> Payment Done</h3>
		<p class="mb-0"> Payment for <b>{{item_name}}</b> {{item_type}} has been succeeded !</p>


	</div>
</div>